body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
span{
  color: #66BFBF;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 40%;
  margin: 100px auto;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

a:hover{
  color: #eaf6f6;
}

.exp-sentence{
  margin-left: 5%;
}

.exp-row{
  margin-left: 20%;
  margin-right: 25%;
}

.exp-header{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: large;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 24%;
  float:left;
}

#special1{
  margin-left: 0;
  margin-right: 3%;
}

.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.skill-row{
  width:50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #E3FDFD;
  position: relative;
  padding-top: 100px;
}

.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.copyright{
  color: #EAF6F6;
  margin: 0;
  font-size: 0.75rem;
  padding: 40px 0 0 0;
}

.top-cloud {
  position: absolute;
  right: 275px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profilePicture {
  margin-top: 55px;
  border-radius: 50%;
}
.lifeStyle{
  margin-right: 30px;
  width: 25%;
  float: left;
}

.webDesign{
  margin-right: 30px;
  margin-bottom: 70px;
  width: 25%;
  float: left;
}

.teamWork{
  margin-right: 30px;
  width: 25%;
  float: right;
}

.contact-message{
  width: 40%;
  margin: 40px auto 40px;
}

.btn {
   background: #2BC4AD;
   background-image: -webkit-linear-gradient(top, #2BC4AD, #11999E);
   background-image: -moz-linear-gradient(top, #2BC4AD, #11999E);
   background-image: -ms-linear-gradient(top, #2BC4AD, #11999E);
   background-image: -o-linear-gradient(top, #2BC4AD, #11999E);
   background-image: -webkit-gradient(to bottom, #2BC4AD, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family:  'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 100;
   padding: 15px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 50px;
}

.btn:hover {
   border: none;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
